# use a random unassigned HTTP port by scanning for free port
server:
  port: 8080


# For Spring Actuator /info endpoint
info:
    artifact: springfox-hawtio-example
    name: springfox-hawtio-example
    description: Spring Hawt.io Example
    version: 1.0.0

datasource:
  validationQuery: SELECT 1
  initialSize: 1
  maxActive: 3
  testWhileIdle: true
  testOnBorrow: true

jpa:
  show-sql: true
  format_sql: true
  properties:
    org:
      hibernate:
        flushMode: AUTO

#logging:
#  level:
#    org.springframework: DEBUG

#hawtio:
#  authenticationEnabled: false

management:
  security:
    enabled: false

#security:
#  basic:
#    enable: true
#  ignored: /**